node-red/websocket-relay.txt
[{"id":"b7adf5a8.19f9c8","type":"websocket out","z":"f49c90d6.fb03f","name":"","server":"a07f3191.bda5a","client":"","x":836,"y":490,"wires":[]},{"id":"6b032b4e.d89124","type":"ibmiot in","z":"f49c90d6.fb03f","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"RaspberryPi","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":383,"y":489,"wires":[["2d436297.63e4ae"]]},{"id":"2d436297.63e4ae","type":"function","z":"f49c90d6.fb03f","name":"Parse data","func":"msg.payload = msg.payload.d;\nmsg.payload.timestamp = Date.now();\nreturn msg;","outputs":1,"noerr":0,"x":586,"y":490,"wires":[["b7adf5a8.19f9c8"]]},{"id":"a07f3191.bda5a","type":"websocket-listener","z":"","path":"/websocket","wholemsg":"false"}]
